body {
  font-family: "Inter", sans-serif;
  background-image: url(moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*Weather App */
.weather-app {
  background-color: #f7dedf;
  max-width: 600px;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #2e1a35;
  color: #490b3e;
  opacity: 0.8;
}

/* Search Bar and Current Location */
form {
  padding-bottom: 5px;
  display: inline-block;
}

.current-location {
  display: inline-block;
  margin-left: 5px;
  border-radius: 12px;
  border: 1px solid #3d3939;
  color: #f8f4f4;
  background-color: #3d3939;
  padding-left: 15px;
  padding-right: 15px;
}

.search-location {
  text-align: center;
}

#search {
  background-color: #3d3939;
  color: #f8f4f4;
  border: 1px solid #3d3939;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

#city-input {
  color: #490b3e;
  background-color: #f7dedf;
  border: 1px solid #2e1a35;
}

#city-input:focus {
  outline: none;
}

/* Inside the current city's weather box */
h2,
ul {
  text-align: center;
}

h2 {
  padding-top: 5px;
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #bc1e51;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: inherit;
}

.current-city-weather {
  padding: 5px;
  margin: 5px;
}

.current-temp {
  font-size: 25px;
}

.col-6 {
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
}

#description {
  text-transform: capitalize;
}

.active {
  color: #490b3e;
  cursor: default;
}

/*Spotify Player */
iframe {
  opacity: 0.9;
}

#playlist {
  margin-top: 5px;
}

/* Forecast */
.weather-forecast {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.forecast-date {
  font-size: 15px;
}

.forecast-temp {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.6;
}

/*Git Link */
small {
  display: block;
  text-align: center;
  color: #2e1a35;
}

.git-link {
  transition: all 200ms ease-in-out;
}

.git-link:hover {
  color: #2e1a35;
}
