body {
  font-family: "Inter", sans-serif;
  background-color: #fff7fa;
}

form,
h2,
ul,
form,
small,
.col-6 {
  text-align: center;
}

form {
  padding-bottom: 5px;
}

h2 {
  padding-top: 5px;
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #bc1e51;
  transition: all 200ms ease-in-out;
}

small {
  display: block;
  color: #2e1a35;
}

a:hover {
  color: inherit;
}

.weather-app {
  background-color: #fad1d7;
  max-width: 600px;
  margin: 30px auto;
  padding: 15px;
  border: 2px solid #2e1a35;
  color: #490b3e;
}

.current-city-weather {
  border: 1px solid #2e1a35;
  padding: 5px;
  margin: 5px;
}

.current-temp {
  font-size: 25px;
}

.col-6 {
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
}

#description {
  text-transform: capitalize;
}

#city-input {
  color: #490b3e;
  background-color: #fad1d7;
  border: 1px solid #2e1a35;
}

#city-input:focus {
  outline: none;
}

#search {
  background-color: #490b3e;
  color: #fad1d7;
  border: 1px solid #2e1a35;
  border-radius: 10px;
  padding: 5px;
}

.active {
  color: #490b3e;
  cursor: default;
}

.git-link {
  transition: all 200ms ease-in-out;
}

.git-link:hover {
  color: #2e1a35;
}

.weather-forecast {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.forecast-date {
  font-size: 15px;
}

.forecast-temp {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.5;
}
